<div layout="row" layout-align="space-between center">
  <div class="">
    <h1 class="md-display-1">Welcome, admin named {{userName.name}}!</h1>
  </div>
  <div class="">
    <md-button id="logoutAdmin" class="md-warn" ng-click="logout()">Log Out</md-button>
  </div>
</div>

<div layout="column">
  <div id="widthBasket">
    <div md-whiteframe="8" class="cardApprox" flex="90" flex-offset="5">
      <div layout="row" layout-align="center none">

        <md-input-container>
          <label>Theme</label>
          <md-select ng-model="itemTheme">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="theme in themes" ng-value="theme.name">
              {{theme.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>English Answer</label>
          <input ng-model="itemEN">
        </md-input-container>

        <md-input-container>
          <label>Translation</label>
          <input ng-model="itemKN" class="karen">
        </md-input-container>

        <md-input-container>
          <label>Transcription</label>
          <input ng-model="itemPron" class="karen">
        </md-input-container>

        <md-input-container>
          <label>Image URL</label>
          <input ng-model="itemURL">
        </md-input-container>

        <md-input-container>
          <md-button class="md-primary md-raised" ng-click="sendItem()">Submit</button>
        </md-input-container>

      </div>
    </div>



    <md-card md-whiteframe="8" flex="90" flex-offset="5">

      <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
          <span>Dictionary Items</span>
        </div>
      </md-toolbar>

      <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
          <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
        </div>
      </md-toolbar>

      <md-table-container>
        <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column><span>Delete Item</span></th>
              <th md-column><span>Edit Item</span></th>
              <th md-column md-order-by="item_theme"><span>Theme</span></th>
              <th md-column md-numeric md-order-by="item_answer_en" md-desc><span>English Answer</span></th>
              <th md-column md-numeric md-order-by="item_answer_kn"><span>Karen Translation</span></th>
              <th md-column md-numeric md-order-by="item_answer_phon_kn"><span>Karen Transcription</span></th>
              <th md-column md-order-by="item_prompt"><span>Image URL</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="item" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="item in allItems.items | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
              <td md-cell><md-button ng-click="showConfirm(item)">Delete</md-button></td>
              <td md-cell><md-button class="md-primary" ng-click="editItem(item)">Edit</md-button></td>
              <td md-cell>{{item.item_theme}}</td>
              <td md-cell>{{item.item_answer_en}}</td>
              <td md-cell class="karen" id="testa">{{item.item_answer_kn}}</td>
              <td md-cell class="karen">{{item.item_answer_phon_kn}}</td>
              <td md-cell>{{item.item_prompt}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{allItems.items.length}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>

  </div>
</div>
