<div layout="column" class="entry_basket">

  <div layout="row" layout-align="end start">
    <md-button ng-click="backToItems()" class="md-fab md-primary" aria-label="Go Back">
      <md-icon class="button_icon" md-svg-src="/media/icons/ic_clear_white_48px.svg"></md-icon>
    </md-button>
  </div>

  <div layout="row" layout-align="center end" layout-wrap>
    <md-card flex="80" md-whiteframe="12" layout-align="center center">
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <img src="/media/{{entryItem.item.item_prompt}}" class="md-card-image" alt="image caption">
      </md-card-content>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="md-display-4 karen">{{entryItem.item.item_answer_kn}}</span>
      </md-card-content>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="md-display-3">English: {{entryItem.item.item_answer_en}}</span>
      </md-card-content>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="md-display-3">You say:</span>
        <span class="md-display-4 karen">{{entryItem.item.item_answer_phon_kn}}</span>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="start end">
    <md-button ng-click="readEntry(entryItem.item.item_answer_en)" class="md-fab" aria-label="Read Word">
      <md-icon class="button_icon" md-svg-src="/media/icons/ic_hearing_white_48px.svg"></md-icon>
    </md-button>
  </div>

</div>
