<div layout="column" layout-align="center center">
  <div class="row" layout-align="center center" id="loginHolder">
    <img class="md-whiteframe-12dp" flex="90" flex-offset="5" src="https://s3-us-west-2.amazonaws.com/kepd-images/Karen_National_Union_Flag.png" alt="Karen Flag">
    <md-card class="md-whiteframe-12dp" flex="90" flex-offset="5" layout-align="center center">
      <md-card-title>
        <md-card-title-text layout-align="center center">
          <h2 class="md-display-1 landerMessageEN">Welcome to the Karen-English Picture Dictionary!</h2>
          <h2 class="md-display-1 landerMessageEN">Please log in:</h2>
        </md-card-title-text>
      </md-card-title>
      <md-card-content layout-wrap layout-align="center center">
        <form ng-submit="login()">
          <md-input-container class="md-block">
            <label for="username">Username:</label>
            <input type="text" ng-model="user.username" />
          </md-input-container>
          <md-input-container class="md-block">
            <label for="password">Password:</label>
            <input type="password" ng-model="user.password" />
          </md-input-container>
          <md-input-container layout-align="center center">
            <md-button class="md-raised" ng-click="go('/register')">Register</md-button>
            <md-button class="md-raised md-primary" type="submit">Submit</md-button>
          </md-input-container>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>
