<h1>individual-theme page. put entries here.</h1>

<div layout="row" layout-wrap>
   <!-- ng-click="openEntry(item)" -->
  <div flex="50" ng-repeat="item in themedItems.items">
    <md-card>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <img src="/media/{{item.item_prompt}}" class="md-card-image prompt_img" alt="image caption">
        <span class="md-display-4 karen ib">{{item.item_answer_kn}}</span>
      </md-card-content>
    </md-card>
  </div>
</div>
