<div layout="row" layout-align="space-between center">
  <div class="">
    <h1 class="md-display-1">Welcome, admin named {{userName}}!</h1>
  </div>
  <div class="">
    <md-button id="logout" class="md-raised md-warn" ng-click="logout()">Log Out</md-button>
  </div>
</div>

<div layout="column">
  <div class="salmonColor">
    <div md-whiteframe="8" class="cardApprox" flex="90" flex-offset="5">
      <div layout="row" layout-align="center none">

        <md-input-container>
          <label>Theme</label>
          <md-select ng-model="itemTheme">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="theme in themes" ng-value="theme.name">
              {{theme.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Image URL</label>
          <input ng-model="itemURL">
        </md-input-container>

        <md-input-container>
          <label>English Answer</label>
          <input ng-model="itemEN">
        </md-input-container>

        <md-input-container>
          <label>Translation</label>
          <input ng-model="itemKN" class="karen">
        </md-input-container>

        <md-input-container>
          <label>Transcription</label>
          <input ng-model="itemPron" class="karen">
        </md-input-container>

        <md-input-container>
          <md-button class="md-primary md-raised" ng-click="logItem()">Submit</button>
        </md-input-container>

      </div>
    </div>



    <md-card md-whiteframe="8" flex="90" flex-offset="5">

      <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
          <span>Nutrition</span>
        </div>
      </md-toolbar>

      <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
        <div class="md-toolbar-tools">
          <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
        </div>
      </md-toolbar>

      <md-table-container>
        <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
          <thead md-head md-order="query.order">
            <tr md-row>
              <th md-column md-order-by="type"><span>Theme</span></th>
              <th md-column md-order-by="name"><span>Image URL</span></th>
              <th md-column md-numeric md-order-by="calories.value" md-desc><span>English Answer</span></th>
              <th md-column md-numeric md-order-by="fat.value"><span>Karen Translation</span></th>
              <th md-column md-numeric md-order-by="carbs.value"><span>Karen Transcription</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="dessert in desserts.data | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
              <td md-cell>{{dessert.type}}</td>
              <td md-cell>{{dessert.name}}</td>
              <td md-cell>{{dessert.calories.value}}</td>
              <td md-cell class="karen" id="testa">{{dessert.fat.value | number: 2}}</td>
              <td md-cell class="karen">{{dessert.carbs.value}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
    </md-card>

  </div>
</div>
