<div layout="column" class="entry_basket">

  <div layout="row" layout-align="end start">
    <md-button ng-click="exitEntry()" class="md-fab md-primary" aria-label="Go Back">
      <md-icon class="fab_icon" md-svg-src="/media/icons/ic_clear_white_48px.svg"></md-icon>
    </md-button>
  </div>

  <div layout="row" layout-align="center end" layout-wrap>
    <md-card flex="90" md-whiteframe="12" layout-align="center center">
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <img ng-src="https://s3-us-west-2.amazonaws.com/kepd-images/{{entryItem.item.item_prompt}}" class="md-card-image" alt="image caption">
      </md-card-content>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="karen karen_large itemInfo">{{entryItem.item.item_answer_kn}}</span>
      </md-card-content>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="md-display-1 itemInfo">English: {{entryItem.item.item_answer_en}}</span>
      </md-card-content>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="md-display-1 itemInfo">You say:</span>
        <span class="karen karen_large itemInfo">{{entryItem.item.item_answer_phon_kn}}</span>
      </md-card-content>
    </md-card>
  </div>

  <div layout="row" layout-align="space-between end">
    <md-button ng-show="testWebSpeech()" ng-click="readEntry()" class="md-fab" aria-label="Read Word">
      <md-icon class="fab_icon" md-svg-src="/media/icons/ic_hearing_white_48px.svg"></md-icon>
    </md-button>

    <md-button ng-hide="studying.now" ng-click="addStudyItem(entryItem.item.id, userName.id)" class="md-fab md-primary" aria-label="Add to study list">
      <md-icon class="fab_icon" md-svg-src="/media/icons/ic_playlist_add_white_48px.svg"></md-icon>
    </md-button>

    <md-button ng-show="studying.now" ng-click="removeStudyItem(entryItem.item.id, userName.id)" class="md-fab md-primary" aria-label="Add to study list">
      <md-icon class="fab_icon" md-svg-src="/media/icons/ic_delete_sweep_white_48px.svg"></md-icon>
    </md-button>

  </div>

</div>
