<!-- @TODO: make this header into a separate template file, with "role" in the welcome abstracted as another data-bound expression -->
<div layout="row" layout-align="space-between center">
  <div class="">
    <h1 class="md-display-1">Welcome, student named {{userName.name}}!</h1>
  </div>
  <div class="">
    <md-button id="logout" class="md-warn" ng-click="logout()">Log Out</md-button>
  </div>
</div>

<div layout="row" layout-wrap>
  <!--below: add ng-click="openTheme(item)"   item in allItems.items item.item_theme-->
  <div flex="80" flex-offset="10" ng-repeat="theme in themes" class="theme_cardholder">
    <!-- or use the 'card approx' -->
    <md-card md-whiteframe="8">
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="md-display-4 themeButton karen">{{theme.nameKN}}</span>
      </md-card-content>
      <md-card-content layout="row" layout-align="center center" layout-wrap>
        <span class="md-display-2 themeButton">{{theme.name}}</span>
      </md-card-content>
    </md-card>
  </div>
</div>
