/*Adds Karen font*/
@font-face {
  font-family: 'KNU';
  src: url('knu.ttf');
}

.karen{
  font-family: 'KNU', fantasy;
}

.karen_large{
  font-size: 4em;
}

.karen_large, .english_theme, .testAnswers, .itemInfo, .testInfo, .landerMessageEN{
  text-align: center;
}

/*Styles admin-view table and form*/
td.karen, input.karen{
  font-size: 3em !important;
}

div>md-card>div>md-input-container md-input, td.md-headline, input.karen{
  font-size: 1.25em !important;
}

tr>th>span, md-card>md-table-pagination{
  font-size: 1.75em !important;
}

.admin-button{
  height: 3em;
  width: 3em;
  min-width: 10px;
  margin: 0px ;
}

/*Logout button text color*/
#logoutAdmin, #logoutStudent{
  color: Crimson;
}

/*styles student-view launcher buttons*/
.launch_test, .open_theme{
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  background-color: CornflowerBlue;
}

.launcher_button_icon{
  height: 5em !important;
  width: 5em  !important;
}

/*styles referencee icons inside fixed-action buttons*/
.fab_icon{
  height: 3em !important;
  width: 3em  !important;
}

/*styles question/answer views*/
.testAnswers {
  color: CornflowerBlue;
}

.answer_correct{
  background-color: MediumAquamarine;
}

.answer_incorrect{
  background-color: LightSalmon;
}

.test_finished{
  background-color: PaleTurquoise;
}
